@charset "UTF-8";

main {
    margin: 5% auto;
    width: 60%; 
    height: 40%;
    background-color: rgb(109, 109, 109);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#texto {
    
}

.spanLogin {
    display: none;
    color: rgb(143, 28, 28);
    font-size: 12px;
    font-weight: bold;
}

.spanLoginSucesso {
    display: none;
    color: rgb(20, 126, 20);
    font-size: 14px;
    font-weight: bold;
}