@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template: 40px 40px 1fr / 50px 1fr;
}

header {
    grid-area: 1 / 1 / 2 / -1;
    background-color: rgb(5, 173, 5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}

header span {
    color: white;
}

nav {
    grid-area: 2 / 1 / -1 / 2;
    background-color: rgb(134,218, 134);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

#btnDarkMode {
    cursor: pointer;
    transition: 0.3s;
    background-color: black;
    padding: 5px;
    border-radius: 50%;
}

#btnDarkMode:hover {
    font-size: 1.7em;
}

.icones {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    color:  black;
}

.icones p {
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: center;
}

.icones p:hover {
    color: rgb(4, 133, 4);
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s;
}

.dinheiro {
    grid-area: 2 / 2 / 3 / -1;
    background-color: #878787;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bolder;
}

.contas {
    grid-area: 3 / 2 / -1 / -1;
    background-color: white;
}

.contas div {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

#btnAdd {
    color: black;
    transition: 0.3s;
}

#btnAdd:hover {
    color: rgb(4, 133, 4);
    cursor: pointer;
}

dialog {
    padding: 20px;
    border-radius: 10px;
    border: none;
    margin: auto;
}

dialog form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

dialog input {
    padding: 5px;
}

dialog button {
    padding: 5px;
    cursor: pointer;
}

.dark .contas {
    background-color: black;
}

.dark nav {
    background-color: rgb(0, 75, 0);  
}

.dark nav span {
    color: white;
}

.dark nav span:hover {
    color: rgb(58, 122, 58);
}

.dark #btnAdd {
    color: white;
}

.dark #btnAdd:hover {
    color: rgb(58, 122, 58);
}

.dark header span {
    color: black;
}

.dark #btnDarkMode {
    background-color: white;
}

.dark header {
    background-color: rgb(0, 53, 0);
}

