@charset "UTF-8";

main {
    margin: 2% auto;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
}

p.verde {
    color: #22c55e;
}

section {
    width: 50%;
}

section#texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 8%;
    font-weight: bold;
}

section div {
    margin-bottom: 20px;
}

section div p {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1em;
}

section#containerCadastro {
    display: flex;
    align-items: center;
    justify-content: center;
}

form button {
    width: 60%;
    height: 30px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(90deg,#16a34a,#22c55e);
    color: white;
    font-weight: bold;
    transition: .3s;
}

form button:hover {
    transform: translateY(-3px);
}